.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  gap: 2.6em;
}

.title {
  font-weight: bold;
  font-size: 2.6em;
}

.subtitle {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 20px;
}

.btn {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #555;
}