<div *ngIf="product" class="product-details-container">
  <div class="left-side">
    <div class="selected-photo">
      <img
        [src]="product.imgs[selectedImageIndex]"
        alt="Selected Product Photo"
      />
    </div>

    <div class="thumbnail-gallery">
      <div
        *ngFor="let photo of product.imgs; let i = index"
        class="thumbnail-item"
        (click)="setSelectedImage(i)"
      >
        <img [src]="photo" alt="Product Photo {{ i + 1 }}" />
      </div>
    </div>
  </div>

  <div class="right-side">
    <h1>{{ product.name }}</h1>
    <p>Product type: {{ product.type }}</p>
    <p>Shipping from: {{ product.from }}</p>
    <p>Description: {{ product.description }}</p>
    <p>In stock: {{ product.stock }}</p>
    <div class="shipping-info">
      <h2>Shipping information</h2>
      <p *ngIf="product.shipping > 0">
        Shipping amount: {{ product.shipping | currency : "USD" }}
      </p>
      <p class="free" *ngIf="product.shipping === 0">Free shipping</p>
    </div>

    <p class="price">
      <span *ngIf="product.promotion === 0">{{
        product.price + product.shipping | currency : "USD"
      }}</span>
      <span *ngIf="product.promotion > 0" class="old-price">{{
        product.price + product.shipping | currency : "USD"
      }}</span>
      <span *ngIf="product.promotion > 0">{{
        product.price -
          product.price * (product.promotion / 100) +
          product.shipping | currency : "USD"
      }}</span>
    </p>

    <p class="reviews">{{ this.reviews.length }} Reviews</p>

    <div class="add-buttons" *ngIf="authService.isLogged()">
      <button
        [disabled]="isProductInWishList"
        class="save-btn"
        (click)="addToWishlist()"
      >
        <span *ngIf="!isProductInWishList"
          ><i class="fa-solid fa-heart" id="white-heart"></i
        ></span>
        <span *ngIf="isProductInWishList"
          ><i class="fa-solid fa-heart" id="red-heart"></i
        ></span>
      </button>
      <button *ngIf="!isProductInCart" (click)="addToCart()" class="add-btn">
        Add to cart
      </button>
      <button
        *ngIf="isProductInCart || product.isProductInCart"
        class="added-btn"
      >
        <i class="fa-solid fa-circle-check fa-xl"></i> Added to cart
      </button>
      <button
        *ngIf="currentUser.bought.includes(product.productId)"
        class="write-review-btn"
        (click)="openReviewPopup()"
      >
        Write a Review
      </button>
    </div>

    <div class="review-popup-container" *ngIf="showReviewPopup">
      <div class="review-popup-form">
        <h2>Write a Review</h2>
        <form (ngSubmit)="submitReview()" #reviewForm="ngForm">
          <div class="rating-container">
            <label for="rating">Choose Rating:</label>
            <span class="rating-stars">
              <i
                class="fa-solid fa-star"
                [class.fas]="rating >= star"
                [class.far]="rating < star"
                [class.selected]="rating >= star"
                (click)="setRating(star)"
                *ngFor="let star of stars"
              ></i>
            </span>
            <span class="rating-error" *ngIf="ratingError"
              >Rating is required.</span
            >
          </div>

          <div class="review-textarea">
            <label for="reviewText">Your Review:</label>
            <textarea
              id="reviewText"
              name="reviewText"
              [(ngModel)]="reviewData.reviewText"
              #reviewText="ngModel"
              required
              minlength="5"
              maxlength="100"
            ></textarea>
            <span
              class="review-text-error"
              *ngIf="
                reviewText.invalid && (reviewText.dirty || reviewText.touched)
              "
            >
              <span *ngIf="reviewText.errors?.['required']"
                >Review is required.</span
              >
              <span *ngIf="reviewText.errors?.['minlength']">
                Review must be at least 5 characters long.
              </span>
              <span *ngIf="reviewText.errors?.['maxlength']">
                Review must be at most 100 characters long.
              </span>
            </span>
          </div>

          <div class="image-upload-container">
            <label for="reviewImage">Choose an Image:</label>
            <input
              type="file"
              id="reviewImage"
              name="reviewImage"
              (change)="handleImageUpload($event)"
              accept="image/*"
              required
            />
            <span class="image-error" *ngIf="imageError"
              >Image is required.</span
            >
          </div>

          <button type="submit" class="submit-button">Submit Review</button>
          <button type="button" class="close-button" (click)="closePopup()">
            Close
          </button>
        </form>
      </div>
    </div>
    <div class="review-container">
      <h2>Reviews</h2>
      <button class="toggle-reviews-btn" (click)="toggleReviews()">
        <i class="fa-solid fa-caret-down" *ngIf="showReviews"></i>
        <i class="fa-solid fa-caret-up" *ngIf="!showReviews"></i>
      </button>
      <div class="reviews-list" *ngIf="showReviews">
        <div class="review" *ngFor="let review of reviews">
          <div class="review-header">
            <span class="reviewer">{{ review.writtenBy }}</span>
            <span class="rating">
              <i
                class="fa-solid fa-star"
                [class.fas]="review.rating >= star"
                [class.far]="review.rating < star"
                *ngFor="let star of stars"
              ></i>
            </span>
          </div>
          <p class="review-text">{{ review.reviewText }}</p>
          <div class="review-image" *ngIf="review.reviewImage">
            <img [src]="review.reviewImage" alt="Review Image" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
