:host {
  display: block;
}

.product-details-container {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2em;
  margin: 2em auto;
}

.left-side {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 0 auto;
}

.right-side {
  margin: 0 auto;
  text-align: center;
}

.selected-photo img {
  width: 100%;
  min-width: 22em;
  max-width: 26em;
  min-height: 23em;
  max-height: 30em;
  margin-bottom: 10px;
}

.thumbnail-gallery {
  display: flex;
  gap: 0.8em;
  margin-top: 1em;
}

.thumbnail-item {
  width: 3em;
  cursor: pointer;
}

.thumbnail-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-info h1 {
  margin-bottom: 0.5em;
}

.product-info p {
  background-color: rgb(71, 70, 70);
  color: #fff;
  padding: 0.7em;
  margin-bottom: 0.2em;
  border-bottom: 1px solid white;
  cursor: pointer;
}

.price {
  display: flex;
  gap: 0.5em;
  font-size: 1.2em;
}

.old-price {
  text-decoration: line-through;
}

.shipping-info {
  border-top: 1px solid #a9a9a9;
  border-bottom: 1px solid #a9a9a9;
  padding-top: 20px;
  margin-bottom: 1em;
}

.free {
  color: rgb(46, 190, 46);
}

.add-buttons {
  display: flex;
  align-items: center;
  gap: 1em;
  margin-bottom: 0.5em;
}

button {
  border: none;
  padding: 0.5em;
  border-radius: 0.5em;
  cursor: pointer;
}

.add-btn {
  background-image: linear-gradient(
    to right,
    rgb(255, 128, 0),
    rgb(248, 246, 132)
  );
}

.add-btn:hover {
  background-image: linear-gradient(
    to right,
    rgb(201, 123, 39),
    rgb(228, 228, 111)
  );
  color: rgb(255, 255, 255);
}

.added-btn {
  cursor: not-allowed;
}

.write-review-btn {
  background-image: linear-gradient(
    to left,
    rgb(253, 140, 20),
    rgb(242, 242, 118)
  );
}

.write-review-btn:hover {
  background-image: linear-gradient(
    to left,
    rgb(201, 123, 39),
    rgb(218, 218, 124)
  );
  color: white;
}

.save-btn {
  border: 1px solid #555;
  background-color: white;
}

#white-heart {
  color: rgb(172, 172, 172);
}

#red-heart {
  color: rgba(255, 7, 7, 0.866);
}

.review-popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-popup-form {
  max-width: 600px;
  width: 100%;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.review-popup-form h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.review-popup-form label {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
}

.review-popup-form textarea {
  width: 100%;
  height: 100px;
  resize: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
}

.review-popup-form .rating-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.review-popup-form .rating-stars {
  font-size: 24px;
  color: #ffd900;
  cursor: pointer;
  margin-right: 5px;
}

.review-popup-form .selected {
  color: #ffd622;
}

.review-popup-form .far {
  color: #6a5a14;
}

.review-container .selected {
  color: #ffd518;
}

.review-popup-form .rating-error {
  color: #f00;
  margin-top: 5px;
}

.review-popup-form .image-upload-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.review-popup-form .image-upload-button {
  padding: 8px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.review-popup-form .image-upload-button:hover {
  background-color: #0056b3;
}

.review-popup-form .image-preview {
  width: 8em;
  height: 8em;
  border-radius: 0.5em;
  margin-left: 0.3em;
  overflow: hidden;
}

.review-popup-form .image-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.review-popup-form .image-error {
  color: #f00;
  margin-top: 5px;
}

.review-popup-form .submit-button {
  padding: 8px 15px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.review-popup-form .submit-button:hover {
  background-color: #1d9238;
}

.review-popup-form .close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  color: #000;
  cursor: pointer;
}

.review-popup-form .close-button:hover {
  color: #666;
}

.review-container {
  margin-top: 1.6em;
  padding: 1em;
  background-color: #e5e5e5;
  border-radius: 10px;
}

.toggle-reviews-btn {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5em;
  padding: 0.2em;
  cursor: pointer;
  float: right;
}

.toggle-reviews-btn i {
  font-size: 0.8em;
}

.reviews-list {
  margin-top: 1em;
}

.review {
  background-color: rgb(255, 255, 255);
  border: 1px solid #ccc;
  border-radius: 0.5em;
  padding: 0.5em;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  max-width: 500px;
  position: relative;
}

.review-info {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.menu {
  position: relative;
}

.menu-toggle {
  background: none;
  border: none;
  cursor: pointer;
  color: #777;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: -100px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.menu-option {
  padding: 0.5em 1em;
  border: none;
  background-color: transparent;
  cursor: pointer;
  text-align: left;
}

.menu-option:hover {
  background-color: #f5f5f5;
}

.review-user {
  font-weight: bold;
}

.review-content {
  display: flex;
  gap: 1em;
  justify-content: space-between;
  align-items: center;
}

.review-image img {
  width: 7em;
  height: 7.5em;
  object-fit: cover;
  border-radius: 0.5em;
}

.review-text {
  flex-grow: 1;
  margin: 0;
}

.review-rating {
  display: flex;
  align-items: flex-end;
  gap: 0.2em;
  margin-top: 0.7em;
}

.filled-stars {
  color: #837e13;
}

.review-username {
  font-weight: bold;
}

.options-btn {
  border: none;
  background-color: transparent;
  color: #777;
  cursor: pointer;
}

.options-menu {
  position: absolute;
  right: 5%;
  top: 47%;
  background-color: rgb(88, 88, 88);
  border: 1px solid #ccc;
  color: white;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.three-dots {
  cursor: pointer;
  font-size: 2.4em;
}

.edit-option,
.delete-option {
  padding: 0.3em;
  cursor: pointer;
}

.edit-option {
  border-bottom: 1px solid #555;
}

.edit-option:hover,
.delete-option:hover {
  background-color: #767676;
}

@media (max-width: 680px) {
  .review-form {
    max-width: 90%;
  }

  .product-details-container {
    gap: 2em;
  }

  .selected-photo img {
    max-height: 22em;
  }

  .thumbnail-item {
    width: 4.6em;
  }
}

@media (max-width: 640px) {
  .product-details-container {
    display: flex;
    flex-wrap: wrap;
    margin-right: 3em;
  }

  .selected-photo img {
    max-height: 17em;
    max-width: 15em;
  }

  .thumbnail-item {
    width: 3.4em;
  }

  .left-side {
    margin: 0 auto;
  }

  .right-side {
    margin: 0 auto;
    text-align: center;
  }
}

@media (max-width: 390px) {
  .selected-photo img {
    max-height: 13em;
    max-width: 10em;
  }

  .thumbnail-item {
    width: 3em;
  }
}
