.product-details-container {
  max-width: 1000px;
  margin: 2.5em auto;
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
}

.selected-photo img {
  width: 100%;
  min-width: 17em;
  max-width: 26em;
  min-height: 23em;
  max-height: 30em;
}

.thumbnail-gallery {
  display: flex;
  gap: 0.8em;
}

.thumbnail-item {
  width: 3em;
  cursor: pointer;
}

.thumbnail-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-info p {
  background-color: rgb(71, 70, 70);
  margin-bottom: 0.2em;
  border-bottom: 1px solid white;
  cursor: pointer;
}

.price {
  display: flex;
  gap: 0.5em;
  font-size: 1.2em;
}

.old-price {
  text-decoration: line-through;
}

.free {
  color: rgb(46, 190, 46);
}

.add-buttons {
  display: flex;
  align-items: center;
  gap: 1em;
}

button {
  border: none;
  padding: 0.5em;
  border-radius: 0.5em;
  cursor: pointer;
}

.add-btn,
.write-review-btn {
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-image: linear-gradient(
    to right,
    rgb(255, 128, 0),
    rgb(248, 246, 132)
  );
}

.add-btn:hover,
.write-review-btn:hover {
  background-image: linear-gradient(
    to right,
    rgb(201, 123, 39),
    rgb(228, 228, 111)
  );
  color: #fff;
}

.added-btn {
  cursor: not-allowed;
}

.review-popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

#red-heart {
  color: red;
  cursor: not-allowed;
}

.review-popup-form {
  max-width: 600px;
  width: 100%;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.review-popup-form h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.review-popup-form label {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
}

.review-popup-form textarea {
  width: 100%;
  height: 100px;
  resize: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
}

.review-popup-form .rating-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.review-popup-form .rating-stars {
  font-size: 24px;
  color: #ffd900;
  cursor: pointer;
  margin-right: 5px;
}

.review-popup-form .selected {
  color: #ffd622;
}

.review-popup-form .far {
  color: #6a5a14;
}

.review-popup-form .rating-error {
  color: #f00;
  margin-top: 5px;
}

.review-popup-form .image-upload-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.review-popup-form .image-upload-button {
  padding: 8px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.review-popup-form .image-upload-button:hover {
  background-color: #0056b3;
}

.review-popup-form .image-preview {
  width: 8em;
  height: 8em;
  border-radius: 0.5em;
  margin-left: 0.3em;
  overflow: hidden;
}

.review-popup-form .image-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.review-popup-form .image-error {
  color: #f00;
  margin-top: 5px;
}

.review-popup-form .submit-button {
  padding: 8px 15px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.review-popup-form .submit-button:hover {
  background-color: #1d9238;
}

.review-popup-form .close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  color: #000;
  cursor: pointer;
}

.review-popup-form .close-button:hover {
  color: #666;
}

.review-container {
  margin-top: 1.6em;
  padding: 1em;
  background-color: #e5e5e5;
  border-radius: 10px;
}

.toggle-reviews-btn {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5em;
  padding: 0.2em;
  cursor: pointer;
  float: right;
}

.toggle-reviews-btn i {
  font-size: 0.8em;
}

.review {
  background-color: rgb(255, 255, 255);
  padding: 0.5em;
  max-width: 300px;
}

.menu-toggle {
  cursor: pointer;
  color: #777;
}

.menu-option {
  padding: 0.5em 1em;
  cursor: pointer;
}

.menu-option:hover {
  background-color: #f5f5f5;
}

.review-user {
  font-weight: bold;
}

.review-image img {
  width: 7em;
  height: 7.5em;
  object-fit: cover;
}

.review-text {
  flex-grow: 1;
}

.review-rating {
  margin-top: 0.7em;
}

.filled-stars {
  color: rgb(174, 153, 32);
}

.options-btn {
  border: none;
  color: #777;
  cursor: pointer;
}

.options-menu {
  position: absolute;
  right: 17%;
  top: 44%;
  background-color: rgb(88, 88, 88);
  color: white;
  border-radius: 0.5em;
}

.selected {
  color: rgb(255, 237, 34);
}

.option {
  padding: 0.3em;
  cursor: pointer;
}

.option:hover {
  background-color: #767676;
}

@media (max-width: 640px) {
  .left-side {
    margin: 0 auto;
  }

  .right-side {
    margin: 0 auto;
  }
}

@media (max-width: 390px) {
  .selected-photo img {
    max-height: 13em;
    max-width: 10em;
  }
}
