<div class="about-us">
    <h2>About Us</h2>
    <p>Welcome to our company! We are a team of passionate individuals dedicated to providing high-quality products and excellent customer service. Our mission is to make your shopping experience enjoyable and convenient. Feel free to explore our website and discover a wide range of products that cater to your needs.</p>
    <br>
    <p>At our company, we value transparency, innovation, and customer satisfaction. We strive to exceed your expectations with our exceptional products and personalized support. Whether you have questions, feedback, or need assistance, our friendly team is here to help.</p>
    <br>
    <p>Thank you for choosing us. We look forward to serving you!</p>

    <a routerLink="/products">Visit products</a>
</div>