<div *ngIf="!isLoading" class="products-wrapper">
  <form class="search-container">
    <input
      type="text"
      (input)="onSearchChange($event)"
      placeholder="Search..."
      maxlength="35"
    />

    <h2>Pricing</h2>

    <div class="category-list">
      <button
        class="category-button"
        [class.selected]="selectedCategory === 'all'"
        (click)="selectCategory($event, 'all')"
      >
        All
      </button>
      <button
        class="category-button"
        [class.selected]="selectedCategory === '- $350'"
        (click)="selectCategory($event, '- $350')"
      >
        $150 - $350
      </button>
      <button
        class="category-button"
        [class.selected]="selectedCategory === '- $650'"
        (click)="selectCategory($event, '- $650')"
      >
        $350 - $650
      </button>
      <button
        class="category-button"
        [class.selected]="selectedCategory === '- $1000'"
        (click)="selectCategory($event, '- $1000')"
      >
        $650 - $1000
      </button>
      <button
        class="category-button"
        [class.selected]="selectedCategory === 'above $1000'"
        (click)="selectCategory($event, 'above $1000')"
      >
        above $1000
      </button>
    </div>

    <h2>Product Categories</h2>

    <div class="category-list">
      <button
        class="category-button"
        [class.selected]="selectedThirdCategory === 'all'"
        (click)="selectThirdCategory($event, 'all')"
      >
        All
      </button>
      <button
        class="category-button"
        [class.selected]="selectedThirdCategory === 'Phones'"
        (click)="selectThirdCategory($event, 'Phones')"
      >
        Phones
      </button>
      <button
        class="category-button"
        [class.selected]="selectedThirdCategory === 'Tablets'"
        (click)="selectThirdCategory($event, 'Tablets')"
      >
        Tablets
      </button>
      <button
        class="category-button"
        [class.selected]="selectedThirdCategory === 'Computers'"
        (click)="selectThirdCategory($event, 'Computers')"
      >
        Computers
      </button>
      <button
        class="category-button"
        [class.selected]="selectedThirdCategory === 'TVs'"
        (click)="selectThirdCategory($event, 'TVs')"
      >
        TVs
      </button>
    </div>

    <h2>Types Of Products</h2>

    <div class="category-list">
      <button
        class="category-button"
        [class.selected]="selectedSecondCategory === 'all'"
        (click)="selectSecondCategory($event, 'all')"
      >
        All
      </button>
      <button
        class="category-button"
        [class.selected]="selectedSecondCategory === 'Free shipping'"
        (click)="selectSecondCategory($event, 'Free shipping')"
      >
        Free shipping
      </button>
      <button
        class="category-button"
        [class.selected]="selectedSecondCategory === 'Promotions'"
        (click)="selectSecondCategory($event, 'Promotions')"
      >
        Promotions
      </button>
    </div>
  </form>

  <app-spinner *ngIf="isLoading"></app-spinner>

  <div *ngIf="array.length > 0 && searchError === ''" class="products">
    <div
      *ngFor="let product of array"
      routerLink="/details/{{ product._id }}"
      class="product"
    >
      <img src="{{ product.imgs[0] }}" alt="product img" />
      <h2>{{ product.name }}</h2>
      <div *ngIf="product.promotion" class="promotion">
        <p>
          <span class="promo-price">${{ product.price }}</span>
          <span class="promotion-value"> {{ product.promotion }}% off </span>
        </p>
      </div>
      <div *ngIf="product.promotion" class="price">
        ${{
          product.price -
            (product.price * (product.promotion / 100) + product.shipping)
        }}
      </div>
      <div *ngIf="!product.promotion" class="price">
        ${{ product.price + product.shipping }}
      </div>
      <p class="description">
        {{ product.description }}
      </p>
      <p *ngIf="product.shipping === 0" class="shipping">Free shipping</p>
    </div>
  </div>

  <p *ngIf="searchError !== ''">{{ searchError }}</p>
  <p class="no-published" *ngIf="array.length === 0 && !searchError">
    No products have been published
  </p>
</div>
