<footer class="footer">
  <div class="footer-content">
    <section class="footer-section">
      <h3 class="footer-section-heading">Get Help</h3>
      <ul class="footer-section-list">
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Support</a></li>
      </ul>
    </section>
    <section class="footer-section">
      <h3 class="footer-section-heading">Company</h3>
      <ul class="footer-section-list">
        <li><a href="#">Careers</a></li>
        <li><a href="#">Terms of Service</a></li>
      </ul>
    </section>
    <section class="footer-section follow-us">
      <h3 class="footer-section-heading">Follow Us</h3>
      <ul class="footer-social-media">
        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
      </ul>
    </section>
  </div>
</footer>