.footer {
	background-color: #90a7c1;
	color: #f9fbfa;
	padding: 1.5rem;
  }
  
  .footer-content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
  }
  
  .footer-section {
	margin-bottom: 1.5rem;
	text-align: left;
	margin-right: 2rem;
  }
  
  .footer-section-heading {
	font-size: 1.2rem;
	font-weight: bold;
	margin-bottom: 1rem;
	border-bottom: 0.2rem solid #547496;
  }
  
  .footer-section-list {
	list-style: none;
	padding: 0;
	margin: 0;
  }
  
  .footer-section-list li {
	margin-bottom: 0.5rem;
  }
  
  .footer-social-media {
	display: flex;
	justify-content: flex-end;
	list-style-type: none;
  }
  
  .footer-social-media li {
	margin-left: 1rem;
  }

  .footer-content li:hover {
	transform: translateX(1rem);
	transition: transform 0.3s;
  }

  .footer-social-media li:hover {
	transform: none;
  }
  
  .footer-social-media a {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 3em;
	height: 3em;
	border-radius: 50%;
	color: #f9fbfa;
	background-color: #547496;
	text-decoration: none;
	transition: background-color 0.3s;
  }
  
  .footer-social-media a:hover {
	background-color: #90a7c1;
  }
  
  .footer-social-media i {
	font-size: 1.5rem;
  }
  
  .footer-section-list li a {
	text-decoration: none;
	color: #f9fbfa;
  }  