
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.3em;
  background-color: #eff2f6;
}

.logo {
  display: flex;
  margin-left: 2.6%;
}

.logo img {
  width: 2.3em;
  height: 2.3em;
}

.logo a {
  text-decoration: none;
}

.logo span {
  font-weight: bold;
  font-size: 1.3em;
  color: #000000;
  position: absolute;
  top: 1.2em;
}

.navigation {
  display: flex;
  align-items: center;
  margin-right: 4%;
}

.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navigation li {
  margin-right: 2em;
}

.navigation li a {
  color: #000000;
  text-decoration: none;
}

.navigation li a:hover {
  color: #547496;
}

.cart-icon {
  position: relative;
}

.cart-icon span {
  background: #547496;
  max-width: 25px;
  min-width: 20px;
  height: 20px;
  color: #fff;
  border-radius: 10px;
  position: absolute;
  top: -6px;
  left: 33px;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  padding: 0 2px;
}

.cart-icon i:hover {
  color: #90a7c1;	
}

.dropdown {
  position: relative;
}

.dropdown img {
  width: 2.3em;
  height: 2em;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #547496;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content li {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
  padding-right: 2px;
}

.dropdown-content li a {
  color: #ffffff;
  text-decoration: none;
}

.dropdown-content li a:hover {
  color: #ffffff;
  text-decoration: underline;
}

/* Responsive Styles */
@media only screen and (max-width: 675px) {
	.navigation {
		display: none;
  }
}