.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.7em;
  background-color: #eff2f6;
}

.logo {
  display: flex;
  margin-left: 1.2em;
}

.logo img {
  width: 2.3em;
  height: 2.3em;
}

.logo a {
  text-decoration: none;
}

.logo span {
  font-weight: bold;
  font-size: 1.3em;
  color: #000000;
  position: absolute;
  top: 1.5em;
}

.navigation {
  display: flex;
  align-items: center;
  margin-right: 4em;
  top: 1.5em;
}

.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navigation li {
  margin-right: 2em;
}

.navigation li a {
  color: #000000;
  text-decoration: none;
}

.navigation li a:hover {
  color: #afb3b6;
}

.cart-icon {
  position: relative;
}

.cart-icon span {
  background: #2b2b2c;
  max-width: 2.2em;
  min-width: 2.1em;
  height: 1.6em;
  color: #ffffff;
  border-radius: 0.9em;
  position: absolute;
  top: -0.3em;
  left: 1.9em;
  font-size: 0.6em;
  line-height: 1.5em;
  text-align: center;
  padding: 0.1em 0.1em;
}

.cart-icon i {
  color: #6d6f75;
}

.cart-icon i:hover {
  color: #abb1b6;
}

.dropdown {
  position: relative;
}

.dropdown i {
  cursor: pointer;
}

.dropdown img {
  width: 2.3em;
  height: 2em;
  cursor: pointer;
}

.dropdown-content {
  display: none;
}

.dropdown-content.active {
  display: block;
  position: absolute;
  top: 2.7em;

  background-color: #3e4046;
  min-width: 6.25rem;
  box-shadow: 0px 0.5rem 1rem 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content li {
  padding: 0.6em 0.45em;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.dropdown-content li a {
  color: #ffffff;
  text-decoration: none;
}

.dropdown-content li a:hover {
  color: #ffffff;
  text-decoration: underline;
}

.burger {
  display: none;
}

#hidden-cart {
  display: none;
}

.cart-items {
  display: none;
}

.fa-x {
  margin-left: 0.3em;
}

.icons-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.7em;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 740px) {
  .burger {
    display: flex;
    margin-right: 4%;
    gap: 1.2em;
    top: 1.5em;
  }

  #hidden-cart {
    display: block;
  }

  .burger .dropdown-content.active {
    display: block;
    position: absolute;
    top: 4.2em;
    left: -3.9em;
    padding-left: 1.3em;
    padding-right: 1.3em;
  }

  .burger .dropdown-content.active li {
    font-size: 1.4em;
  }

  .cart-icon {
    display: none;
  }

  .cart-items {
    display: block;
    position: absolute;
    right: 9.6em;
    top: 1.2em;
    padding: 0.3em;
    font-size: 0.8em;
    border-radius: 50%;
    background-color: rgb(117, 115, 115);
    color: white;
  }

  .navigation.active ul li.dropdown {
    display: none;
  }

  .navigation.unactive {
    display: none;
  }

  .navigation.active {
    position: absolute;
    padding: 1em;
    right: -5em;
    top: 5.3em;
    background-color: #eff2f6;
    text-align: center;
    z-index: 9999;
    border-radius: 0.6em;
    border-top-left-radius: 0em;
  }

  .navigation.active ul {
    flex-direction: column;
    gap: 1.7em;
    margin-left: 0.7em;
  }

  .navigation.active ul li {
    font-size: 1.3em;
  }

  .navigation.active ul li i {
    font-size: 2em;
  }
}

@media (max-width: 456px) {
  .cart-items {
    right: 9em;
  }

  .burger {
    gap: 0.9em;
  }

  .logo img {
    margin-left: -1.6em;
  }
}
