<div class="header">
  <div class="logo">
    <a routerLink="/home">
      <img src="../../../assets/logo.png" alt="Logo" />
      <span>TechTrove <i class="fi fi-rr-menu-burger"></i></span>
    </a>
  </div>

  <div [ngClass]="isBurgerMenuOn ? 'active' : 'unactive'" class="navigation">
    <ul>
      <li>
        <a (click)="onPageChange($event)" routerLink="/products">Products</a>
      </li>
      <li>
        <a (click)="onPageChange($event)" routerLink="/about-us">About Us</a>
      </li>
      <li class="cart-icon">
        <a routerLink="/cart">
          <span *ngIf="cartLength > 0">
            {{ cartLength > 99 ? cartLength + "+" : cartLength }}
          </span>
          <span *ngIf="cartLength === 0">0</span>
          <i class="fa-sharp fa-solid fa-cart-shopping fa-2x"></i>
        </a>
      </li>
      <li (click)="onPageChange($event)" id="hidden-cart" routerLink="/cart">
        Cart
      </li>
      <li class="dropdown">
        <div class="icons-wrapper">
          <i
            [ngStyle]="isDropDownOn ? { color: 'grey' } : { color: 'black' }"
            (click)="onDropDownClick()"
            class="fa-solid fa-circle-user fa-2x"
          ></i>
        </div>
        <div [ngClass]="isDropDownOn ? 'active' : ''" class="dropdown-content">
          <li *ngIf="authService.isLogged()">
            <a (click)="onPageChange($event)" routerLink="/profile">Profile</a>
          </li>
          <li *ngIf="authService.isLogged()" (click)="onLogout($event)">
            <a>Logout</a>
          </li>
          <li *ngIf="!authService.isLogged()">
            <a (click)="onPageChange($event)" routerLink="/login">Log in</a>
          </li>
          <li *ngIf="!authService.isLogged()">
            <a (click)="onPageChange($event)" routerLink="/register"
              >Register</a
            >
          </li>
        </div>
      </li>
    </ul>
  </div>

  <div class="burger">
    <span class="cart-items">
      {{
        cartLength > 0 ? (cartLength > 99 ? cartLength + "+" : cartLength) : 0
      }}
    </span>
    <i (click)="onBurgerClick()" class="fa-solid fa-bars fa-2x"></i>
    <div class="dropdown">
      <div class="icons-wrapper">
        <i
          [ngStyle]="isDropDownOn ? { color: 'grey' } : { color: 'black' }"
          (click)="onDropDownClick()"
          class="fa-solid fa-circle-user fa-2x"
        ></i>
      </div>
      <div [ngClass]="isDropDownOn ? 'active' : ''" class="dropdown-content">
        <li *ngIf="authService.isLogged()">
          <a (click)="onPageChange($event)" routerLink="/profile">Profile</a>
        </li>
        <li *ngIf="authService.isLogged()" (click)="onLogout($event)">
          <a href="logout.html">Logout</a>
        </li>
        <li *ngIf="!authService.isLogged()">
          <a (click)="onPageChange($event)" routerLink="/login">Log in</a>
        </li>
        <li *ngIf="!authService.isLogged()">
          <a (click)="onPageChange($event)" routerLink="/register">Register</a>
        </li>
      </div>
    </div>
  </div>
</div>
