.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.3em;
  background-color: #eff2f6;
}

.logo {
  display: flex;
  margin-left: 3.2%;
}

.logo img {
  width: 2.3em;
  height: 2.3em;
}

.logo a {
  text-decoration: none;
}

.logo span {
  font-weight: bold;
  font-size: 1.3em;
  color: #000000;
  position: absolute;
  top: 1.2em;
}

.navigation {
  display: flex;
  align-items: center;
  margin-right: 7%;
}

.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navigation li {
  margin-right: 2em;
}

.navigation li a {
  color: #000000;
  text-decoration: none;
}

.navigation li a:hover {
  color: #afb3b6;
}

.cart-icon {
  position: relative;
}

.cart-icon span {
  background: #2b2b2c;
  max-width: 2.2em;
  min-width: 2.1em;
  height: 1.6em;
  color: #ffffff;
  border-radius: 0.9em;
  position: absolute;
  top: -0.3em;
  left: 1.9em;
  font-size: 0.6em;
  line-height: 1.5em;
  text-align: center;
  padding: 0.1em 0.1em;
}

.cart-icon i {
  color: #6d6f75;
}

.cart-icon i:hover {
  color: #abb1b6;
}

.dropdown {
  position: relative;
}

.dropdown img {
  width: 2.3em;
  height: 2em;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #3e4046;
  min-width: 6.25rem;
  box-shadow: 0px 0.5rem 1rem 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content li {
  padding: 0.75em 1em;
  text-decoration: none;
  display: block;
  cursor: pointer;
  padding-right: 0.5em;
}

.dropdown-content li a {
  color: #ffffff;
  text-decoration: none;
}

.dropdown-content li a:hover {
  color: #ffffff;
  text-decoration: underline;
}

.burger {
  display: none;
}

@media only screen and (max-width: 700px) {
  .burger {
    display: block;
    margin-right: 5%;
  }

  .navigation.unactive {
    display: none;
  }

  .navigation.active {
    position: absolute;
    display: flex;
    justify-content: center;
    padding: 2em;
    left: 0%;
    top: 5.3em;
    width: 100%;
    background-color: #eff2f6;
    text-align: center;
    z-index: 9999;
  }

  .navigation.active ul {
    flex-direction: column;
    gap: 1.3em;
  }

  .navigation.active ul li {
    font-size: 1.2em;
  }

  .navigation.active ul li.cart-icon a span {
    margin-left: 1em;
    font-size: 0.6em;
  }

  .navigation.active ul li i {
    font-size: 2.4em;
  }

  .navigation.active ul li.dropdown .dropdown-content li {
    font-size: 1em;
  }

  .navigation.active ul li.dropdown .dropdown-content {
    position: absolute;
    left: 2em;
  }
}
