<div class="header">
  <div class="logo">
    <a href="">
        <img src="../../../assets/logo.png" alt="Logo">
        <span>TechTrove <i
class=
"fi fi-rr-menu-burger"
></i></span>   
    </a>
  </div>
  <div class="navigation">
      <ul>
          <li><a href="">Products</a></li>
          <li><a href="">About Us</a></li>
          <li><a href="">Contact Us</a></li>
          <li class="cart-icon">
              <a href="">
                  <span>3</span>
                  <i class="fa-sharp fa-solid fa-cart-shopping fa-2x"></i>
              </a>
          </li>
          <li class="dropdown">
              <img src="../../../assets/guest.png" alt="Menu">
              <div class="dropdown-content">
                  <li><a href="profile.html">Profile</a></li>
                  <li><a href="logout.html">Log out</a></li>
                  <li><a href="login.html">Log in</a></li>
                  <li><a href="register.html">Register</a></li>
              </div>
          </li>
      </ul>
  </div>
</div>