<div class="container mt-5">
  <form [formGroup]="registerForm" (ngSubmit)="register()">
    <h2>Register</h2>

    <div class="row">
      <div class="col-md-6">
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input
            type="text"
            class="form-control"
            id="username"
            formControlName="username"
            placeholder="Enter your username"
          />
          <ng-container *ngIf="registerForm.get('username')?.touched">
            <div
              class="error"
              *ngIf="registerForm.get('username')?.errors?.['required']"
            >
              Username is required!
            </div>
            <div
              class="error"
              *ngIf="registerForm.get('username')?.errors?.['minlength']"
            >
              Username should be at least 4 characters!
            </div>
            <div
              class="error"
              *ngIf="registerForm.get('username')?.errors?.['maxlength']"
            >
              Username should not exceed 20 characters!
            </div>
            <div class="error" *ngIf="isUsernameTaken">
              This username is already taken!
            </div>
          </ng-container>
        </div>

        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            formControlName="email"
            placeholder="Enter your email"
          />
          <ng-container *ngIf="registerForm.get('email')?.touched">
            <div
              class="error"
              *ngIf="registerForm.get('email')?.errors?.['required']"
            >
              Email is required!
            </div>
            <div
              class="error"
              *ngIf="registerForm.get('email')?.errors?.['appEmailValidator']"
            >
              Email is not valid!
            </div>
            <div class="error" *ngIf="isEmailTaken">
              This email is already taken!
            </div>
          </ng-container>
        </div>

        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            formControlName="password"
            placeholder="Enter your password"
          />
          <ng-container *ngIf="registerForm.get('password')?.touched">
            <div
              class="error"
              *ngIf="registerForm.get('password')?.errors?.['required']"
            >
              Password is required!
            </div>
            <div
              class="error"
              *ngIf="registerForm.get('password')?.errors?.['minlength']"
            >
              Password should be at least 6 characters!
            </div>
          </ng-container>
        </div>

        <div class="mb-3">
          <label for="confirmPassword" class="form-label"
            >Confirm Password</label
          >
          <input
            type="password"
            class="form-control"
            id="confirmPassword"
            formControlName="confirmPassword"
            placeholder="Confirm your password"
          />
          <ng-container *ngIf="registerForm.get('confirmPassword')?.touched">
            <div
              class="error"
              *ngIf="registerForm.get('confirmPassword')?.errors?.['matchPasswords'] || registerForm.get('confirmPassword')?.errors?.['required']"
            >
              Confirm Password does not match password!
            </div>
          </ng-container>
        </div>
      </div>

      <div class="col-md-6">
        <div class="mb-3">
          <label for="country" class="form-label">Country</label>
          <select class="form-select" id="country" formControlName="country">
            <option value="" disabled selected>Select your country</option>
            <option *ngFor="let country of countriesList" value="{{ country }}">
              {{ country }}
            </option>
          </select>
          <ng-container *ngIf="registerForm.get('country')?.touched">
            <div
              class="error"
              *ngIf="registerForm.get('country')?.errors?.['required']"
            >
              Country is required!
            </div>
          </ng-container>
        </div>

        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            formControlName="name"
            placeholder="Enter your name"
          />
          <ng-container *ngIf="registerForm.get('name')?.touched">
            <div
              class="error"
              *ngIf="registerForm.get('name')?.errors?.['required']"
            >
              Name is required!
            </div>
            <div
              class="error"
              *ngIf="registerForm.get('name')?.errors?.['minlength']"
            >
              Name should be at least 3 characters!
            </div>
            <div
              class="error"
              *ngIf="registerForm.get('name')?.errors?.['maxlength']"
            >
              Name should not exceed 20 characters!
            </div>
          </ng-container>
        </div>

        <div class="mb-3">
          <label for="surname" class="form-label">Surname</label>
          <input
            type="text"
            class="form-control"
            id="surname"
            formControlName="surname"
            placeholder="Enter your surname"
          />
          <ng-container *ngIf="registerForm.get('surname')?.touched">
            <div
              class="error"
              *ngIf="registerForm.get('surname')?.errors?.['required']"
            >
              Surname is required!
            </div>
            <div
              class="error"
              *ngIf="registerForm.get('surname')?.errors?.['minlength']"
            >
              Surname should be at least 5 characters!
            </div>
            <div
              class="error"
              *ngIf="registerForm.get('surname')?.errors?.['maxlength']"
            >
              Surname should not exceed 20 characters!
            </div>
          </ng-container>
        </div>

        <div class="form-group">
          <label for="address">Address:</label>
          <input
            type="text"
            class="form-control"
            id="address"
            formControlName="address"
            placeholder="Enter your address (Street, City, Postal Code)"
            v
          />
          <ng-container *ngIf="registerForm.get('address')?.touched">
            <div
              class="error"
              *ngIf="registerForm.get('address')?.errors?.['required']"
            >
              Address is required!
            </div>
            <div
              class="error"
              *ngIf="registerForm.get('address')?.errors?.['pattern']"
            >
              Address should be in the format 'Street, City, Postal Code' (e.g.,
              '123 Main St, New York, 12345').
            </div>
          </ng-container>
        </div>
      </div>

      <div class="col-12">
        <div class="mb-3 form-check">
          <input
            type="checkbox"
            class="form-check-input"
            id="agreement"
            formControlName="agreement"
          />
          <label class="form-check-label" for="agreement"
            >Agree to terms and conditions</label
          >
          <ng-container *ngIf="registerForm.get('agreement')?.touched">
            <div
              class="error"
              *ngIf="registerForm.get('agreement')?.errors?.['required']"
            >
              You have to agree before submitting.
            </div>
          </ng-container>
        </div>
      </div>

      <div class="col-12">
        <button class="btn btn-primary" type="submit">Register</button>
      </div>
    </div>
  </form>
</div>
