.register-container {
  max-width: 400px;
  padding: 1em 1.9em;
  background-color: rgba(62, 64, 70, 0.5);
  border-radius: 0.8em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1.1);
  color: #fff;
}

h2 {
  text-align: center;
  margin-bottom: 0.5em;
}

.form-group {
  margin-bottom: 1em;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5em;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
  width: 100%;
  padding: 0.3em;
  font-size: 1.2em;
  border: 0.1em solid #ccc;
  border-radius: 0.6em;
  background-color: #fff;
  color: #3e4046;
  text-indent: 0.6em;
}

button {
  width: 100%;
  padding: 0.2em;
  background-color: #686b75;
  color: white;
  border: none;
  border-radius: 0.8em;
  cursor: pointer;
  margin-top: 1em;
}

button:hover {
  background-color: #2e3031;
  box-shadow: 0px 20px 80px -10px rgb(213, 213, 218);
}
