.register-container {
  max-width: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1.1);
}

form {
  padding: 2.3em 2.6em;
  background-color: rgba(71, 70, 70, 0.377);
  border-radius: 0.8em;
  box-shadow: 0 0 13px rgba(0, 0, 0, 2);
}

h2 {
  text-align: center;
  margin-bottom: 0.5em;
  color: rgb(236, 236, 236);
}

.form-group {
  margin-bottom: 1em;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5em;
  color: white;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
  width: 100%;
  padding: 0.3em;
  font-size: 1em;
  border: 0.1em solid #ccc;
  border-radius: 0.6em;
  background-color: #fff;
  color: #3e4046;
  text-indent: 0.6em;
}

button {
  width: 100%;
  padding: 0.2em;
  background-color: #686b75;
  color: white;
  border: none;
  border-radius: 0.8em;
  cursor: pointer;
  margin-top: 1em;
}

button:hover {
  background-color: #2e3031;
  box-shadow: 0px 20px 80px -10px rgb(213, 213, 218);
}

p:last-child {
  margin-top: 0.3em;
  color: #e2e2e2;
}

.login-link-span {
  font-size: 1.2em;
  color: rgb(255, 255, 255);
  cursor: pointer;
  margin-left: 0.2em;
}

.login-link-span:hover {
  text-decoration: underline;
}

.form-check {
  color: white;
}

.error {
  color: white;
}
