
<div class="register-container">
    <h2>Login</h2>
    <form>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" placeholder="Enter your username">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" placeholder="Enter your email">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" placeholder="Enter your password">
        </div>
        <div class="form-group">
            <label for="country">Country</label>
            <select id="country">
            <option value="" disabled selected>Select your country</option>
            <option value="bul">Bulgaria</option> 
            <option value="uk">United Kingdom</option>
            <option value="ge">Germany</option>
            <option value="fr">France</option>
            <option value="ita">Italy</option>
            <option value="sp">Spain</option>
            </select>
        </div>
    <button type="submit">Register</button>
    </form>
</div>