.cart-container {
  display: flex;
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 2em;
  margin-bottom: 2em;
}

.cart-items {
  flex: 1;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cart-items h2 {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 0.8em;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 3px solid #b5b5b5;
  padding: 10px 0;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.item-thumbnail {
  position: relative;
  display: flex;
  align-items: center;
}

.item-thumbnail img {
  width: 8em;
  height: 8em;
  border-radius: 4px;
}

.remove-btn,
.wishlist-btn {
  background: none;
  border: none;
  color: #555;
  cursor: pointer;
  font-size: 20px;
}

.remove-btn {
  right: 35px;
}

.wishlist-btn {
  right: 5px;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 80%;
  max-width: 400px;
}

.popup-actions {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.popup-actions button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.popup-actions button:hover {
  background-color: #19afff;
  color: #fff;
}

.item-details {
  flex: 1;
  margin-left: 2em;
}

.item-details h3 {
  font-size: 1.7em;
  font-weight: bold;
}

.item-details p {
  font-size: 1.3em;
  color: #454444;
  margin-top: -0.1em;
}

.quantity {
  display: flex;
  gap: 0.4em;
  align-items: center;
  margin-top: 3em;
  margin-bottom: 1.5em;
  margin-right: 2.5em;
}

.buttons {
  display: flex;
  gap: 2.3em;
  margin-left: 0.5em;
}

.free-shipping {
  color: rgb(76, 189, 76);
  margin-top: -1em;
}

.buttons button:hover {
  color: rgba(249, 59, 30, 0.863);
}

.wished {
  background-color: #ffffff;
  border: none;
  color: rgba(249, 59, 30, 0.863);
  cursor: not-allowed;
}

.promotion {
  font-size: 12px;
  color: rgba(249, 59, 30, 0.863);
}

.decrease-btn,
.increase-btn {
  background-color: #f5c4c474;
  border: none;
  color: #555;
  font-size: 1.3em;
  width: 1.5em;
  height: 1.5em;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}

.decrease-btn:disabled {
  background-color: #f0cfcf40;
}

.increase-btn:disabled {
  background-color: #f0cfcf40;
}

.checkout {
  display: flex;
  flex-direction: column;
  flex: 0.5;
  padding: 20px;
  margin-left: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.checkout h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.payment-section h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 1em;
}

.total-span {
  margin-left: 8em;
}

.subtotal-span {
  margin-left: 6.5em;
}

.payment-methods {
  display: flex;
  flex-direction: column;
  gap: 0.8em;
  padding-top: 1em;
  border-top: 2px solid #555;
}

.payment-methods .content {
  display: flex;
}

.payment-method {
  display: flex;
  align-items: center;
}

.payment-method img {
  width: 4.8em;
  height: 4.8em;
  margin-right: 10px;
  border-radius: 4px;
}

.payment-method p {
  font-size: 1.3em;
  color: #555;
}

.total-amount {
  font-size: 1.4em;
  color: #555;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.checkout-btn {
  padding: 12px 24px;
  background-color: #19afff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
  margin-bottom: 1em;
  transition: background-color 0.3s ease-in-out;
}

.checkout-btn:hover {
  background-color: #006094;
}

.buyer-protection {
  margin-bottom: 20px;
}

.buyer-protection h3 {
  font-size: 1.7em;
  font-weight: bold;
  margin-top: 1em;
  border-top: 2px solid #555;
  padding-top: 0.5em;
}

.buyer-protection p i {
  font-size: 1.3em;
  margin-right: 0.2em;
}

.buyer-protection p {
  font-size: 1.2em;
  color: #383838;
}

.shipping-fee {
  font-size: 1em;
  padding-left: 1em;
  color: rgba(0, 0, 0, 0.593);
  margin-top: -0.6em;
  margin-bottom: 0.4em;
}
