body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

.cart-container {
  display: flex;
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 2em;
  margin-bottom: 2em;
}

.cart-items {
  flex: 1;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cart-items h2 {
  font-size: 1.6em;
  font-weight: bold;
  margin-bottom: 0.8em;
}

button:disabled {
  background-color: #555;
  cursor: not-allowed;
}

button:disabled:hover {
  background-color: #555;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 3px solid #b5b5b5;
  padding: 10px 0;
}

.item-thumbnail img {
  width: 5em;
  height: 5em;
  border-radius: 4px;
}

.item-details {
  flex: 1;
  margin-left: 2em;
}

.item-details h3 {
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 5px;
}

.item-details p {
  font-size: 0.8em;
  color: #555;
}

.item-details input {
  width: 60px;
  padding: 0.5em;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.remove-btn {
  margin-left: 0.4em;
  padding: 6px 16px;
  background-color: #05a7ff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.remove-btn:hover {
  background-color: #0076ac;
}

.checkout {
  flex: 0.4;
  padding: 20px;
  margin-left: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.checkout h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.checkout p {
  font-size: 16px;
  color: #555;
  margin-bottom: 10px;
}

.payment-methods {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.payment-method {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.payment-method img {
  width: 4.8em;
  height: 4.8em;
  margin-right: 10px;
  border-radius: 4px;
}

.payment-method p {
  font-size: 1.3em;
  color: #555;
}

.checkout-btn {
  padding: 12px 24px;
  background-color: #19afff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 0.5em;
  transition: background-color 0.3s ease-in-out;
}

.checkout-btn:hover {
  background-color: #006094;
}
