<div class="about-us">
  <div class="hero-section">
    <h1>Welcome to TechTrove</h1>
    <p>Discover the world of technology with us.</p>
  </div>

  <section id="learn-more" class="learn-more-section">
    <div class="container">
      <h2>Learn about us</h2>
      <div class="learn">
        <div class="learn-item">
          <h2>About TechTrove</h2>
          <p>
            TechTrove is a technology-focused company that aims to revolutionize
            the way people experience and interact with technology. We believe
            in the power of innovation and strive to bring cutting-edge products
            and solutions to our customers.
          </p>
        </div>
        <div class="learn-item">
          <h2>Our Vision</h2>
          <p>
            At TechTrove, we envision a world where technology enhances every
            aspect of life. We strive to be at the forefront of innovation,
            offering cutting-edge solutions that empower individuals and
            businesses to thrive in the digital age.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="partners-section">
    <div class="partners-container">
      <h2>Our partners</h2>
      <div class="moving-bar">
        <div class="moving-bar-inner">
          <div *ngFor="let partner of partners" class="moving-card">
            <img src="{{ partner.image }}" alt="{{ partner.name }}" />
            <a href="{{ partner.link }}">Visit {{ partner.name }}'s site!</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="contact" class="contact-section">
    <div class="container">
      <h2>Contact Us</h2>
      <p>
        We'd love to hear from you! If you have any questions, feedback, or
        partnership inquiries, please don't hesitate to get in touch with us.
      </p>
      <p>
        You can reach us at
        <span id="email-span">techtrove@gmail.com</span> .
      </p>
    </div>
  </section>
</div>
