.products-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2em;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  margin-bottom: 4em;
}

.search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  margin: 2em;
}

.search-container h2 {
  margin-bottom: -0.6em;
}

.selected-color {
  background-color: #1a1a1a;
  color: #fff;
}

.category-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}

.category-button {
  padding: 8px 16px;
  background-color: #e0e0e0;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
}

.category-button:hover {
  background-color: #858282;
  color: rgb(255, 255, 255);
}

.category-button.selected {
  background-color: #333;
  color: #fff;
}

input {
  border-radius: 0.3em;
  text-indent: 0.5em;
  padding: 0.3em;
  padding-right: 13em;
  flex: 1;
}

.products {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4em;
}

.no-published {
  font-size: 1.8em;
  font-weight: bold;
}

.product {
  display: flex;
  flex-direction: column;
  flex-basis: calc(33.33% - 10em);
  justify-content: space-evenly;
  align-items: center;
  border: 2px solid rgb(77, 76, 76);
  padding: 0.5em;
  cursor: pointer;
  transition: all ease 1s;
  border-radius: 0.6em;
}

.product:hover {
  background-color: rgb(77, 75, 75);
  color: white;
}

.description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  letter-spacing: 4px;
  text-align: center;
  margin-top: 0.5em;
}

.price {
  font-size: 1.8em;
  font-weight: bold;
}

.product img {
  width: 20em;
  height: 17em;
  mix-blend-mode: multiply;
}

.promotion p {
  display: flex;
  gap: 2.2em;
  align-items: center;
  padding: 0.4em;
  background-color: rgb(117, 117, 117);
  border-radius: 0.3em;
  color: white;
  margin-top: 0.2em;
}

.promo-price {
  text-decoration: line-through;
}

.shipping {
  margin-top: 0.9em;
  margin-right: 11em;
  padding: 0.4em;
  border-radius: 1em;
  color: white;
  background-color: rgb(10, 175, 10);
}

@media (max-width: 426px) {
  .search-container input {
    padding-right: 3em;
  }
}
