.confirm-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1300px;
  gap: 1em;
  margin: 0 auto;
  padding: 20px;
  margin-top: 2em;
  margin-bottom: 2em;
}

.confirm-items {
  flex: 1;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  min-width: 430px;
}

.confirm-items h2 {
  font-size: 1.7em;
  font-weight: bold;
  margin-bottom: 0.8em;
}

.confirm-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 3px solid #b5b5b5;
  padding: 10px 0;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.item-thumbnail {
  position: relative;
  display: flex;
  align-items: center;
}

.item-thumbnail img {
  width: 8em;
  height: 8em;
  border-radius: 4px;
}

.item-details {
  flex: 1;
  margin-left: 2em;
}

.item-details h3 {
  font-size: 1.7em;
  font-weight: bold;
}

.item-details p {
  font-size: 1.3em;
  color: #454444;
  margin-top: -0.1em;
}

.shipping-fee {
  font-size: 1em;
  padding-left: 1em;
  color: rgba(0, 0, 0, 0.593);
  margin-top: -0.6em;
}

.free-shipping {
  color: rgb(76, 189, 76);
  margin-top: -1em;
}

.promotion {
  font-size: 12px;
  color: #19afff;
}

.confirmation-details {
  display: flex;
  flex-direction: column;
  flex: 0.5;
  padding: 20px;
  min-width: 330px;
  margin-left: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.payment-methods {
  border-top: 2px solid #555;
  padding-top: 1em;
}

.payment-methods .content {
  display: flex;
  margin-top: 1em;
}

.payment-method img {
  width: 4em;
  height: 4em;
}

.confirmation-details h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.total-amount {
  font-size: 1.4em;
  color: #555;
  margin-bottom: 0.5em;
}

.complete-order-btn {
  padding: 12px 24px;
  background-color: #19afff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
  margin-bottom: 1em;
  transition: background-color 0.3s ease-in-out;
}

.complete-order-btn:hover {
  background-color: #006094;
}

.confirmation-details {
  margin-top: 2em;
}

.confirmation-details p {
  font-size: 1.3em;
}

.shipping-span {
  margin-left: 6.4em;
}

.total-amount {
  padding-top: 1em;
  border-top: 2px solid #555;
}

.total-span {
  margin-left: 7em;
}

.shipping {
  font-size: 1.1em;
}

.protection {
  padding-top: 1em;
  margin-top: 1em;
  border-top: 2px solid #555;
}
