<div class="container mt-5">
  <form class="row g-3" [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="col-md-6">
      <h2>Login</h2>
      <div class="info mt-3" *ngIf="redirectedFrom">
        You were redirected from {{ redirectedFrom.replace("/", "") }}. Please
        log in or create an account to continue.
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input
          type="email"
          class="form-control"
          id="email"
          formControlName="email"
          placeholder="Enter your email"
        />
        <ng-container *ngIf="loginForm.get('email')?.touched">
          <div
            class="error"
            *ngIf="loginForm.get('email')?.errors?.['required']"
          >
            Email is required!
          </div>
          <div
            class="error"
            *ngIf="loginForm.get('email')?.errors?.['appEmailValidator']"
          >
            Email is not valid!
          </div>
        </ng-container>
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          formControlName="password"
          placeholder="Enter your password"
        />
        <ng-container *ngIf="loginForm.get('password')?.touched">
          <div
            class="error"
            *ngIf="loginForm.get('password')?.errors?.['required']"
          >
            Password is required!
          </div>
          <div
            class="error"
            *ngIf="loginForm.get('password')?.errors?.['minlength']"
          >
            Password should be at least 6 characters!
          </div>
          <div class="error" *ngIf="isPasswordInvalid">
            User doesnt have password or it is invalid!
          </div>
        </ng-container>
      </div>

      <div class="error" *ngIf="isLoginInvalid">There is no mathing user!</div>

      <button
        class="btn btn-primary"
        type="submit"
        [disabled]="loginForm.invalid"
      >
        Login
      </button>
    </div>
  </form>
</div>
