.login-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 2.3em 2.6em;
  background-color: rgba(62, 64, 70, 0.5);
  border-radius: 0.8em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  color: #fff;
  margin-top: 4em;
  margin-bottom: 3em;
}

h2 {
  text-align: center;
  margin-bottom: 0.8em;
}

.form-group {
  margin-bottom: 2em;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.8em;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 0.4em;
  font-size: 1em;
  border: 0.1em solid #ccc;
  border-radius: 0.6em;
  background-color: #fff;
  color: #3e4046;
  text-indent: 0.6em;
}

button {
  width: 100%;
  padding: 0.2em;
  background-color: #4f5157;
  color: white;
  border: none;
  border-radius: 0.8em;
  cursor: pointer;
  margin-top: 0.5em;
}

button:hover {
  background-color: #2e3031;
  box-shadow: 0px 20px 80px -10px rgb(213, 213, 218);
}

p:last-child {
  margin-top: 1em;
  color: #e2e2e2;
}

.register-link-span {
  font-size: 1.2em;
  color: rgb(255, 255, 255);
  cursor: pointer;
  margin-left: 0.1em;
}

.register-link-span:hover {
  text-decoration: underline;
}
