@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import "~bootstrap/dist/css/bootstrap.min.css";

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font: 14px/1.5 "Poppins", sans-serif;
}

*,
*::before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  color: #161d1b;
  background-color: #f9fbfa;
}

body,
form,
input,
textarea,
option,
select,
button {
  font: inherit;
}

app-cart {
  margin-left: 1.8em;
  margin-right: 1.8em;
}

app-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("./assets/login-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 84vh;
  background-color: rgba(0, 0, 0, 0.8);
}

app-register {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("./assets/register-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 136vh;
  background-color: rgba(0, 0, 0, 1);
}

app-wishlist {
  background-color: #292929;
  height: 70vh;
}

app-bank-account {
  background-image: url("./assets/sky.jpg");
  background-size: cover;
  background-position: center;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 783px) {
  html {
    font-size: 16px;
  }

  .navigation li {
    margin-right: 1.7em;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 18px;
  }

  .navigation li {
    margin-right: 1.8em;
  }
}

@media (min-width: 1280px) {
  html {
    font-size: 20px;
  }

  .navigation li {
    margin-right: 1.9em;
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
