@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font: 14px/1.5 "Poppins", sans-serif;
}

*,
*::before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  color: #161d1b;
  background-color: #f9fbfa;
}

body,
form,
input,
textarea,
option,
select,
button {
  font: inherit;
}

app-cart {
  margin-left: 1.8em;
  margin-right: 1.8em;
}

@media (min-width: 783px) {
  html {
    font-size: 16px;
  }

  .navigation li {
    margin-right: 1.7em;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 18px;
  }

  .navigation li {
    margin-right: 1.8em;
  }
}

@media (min-width: 1280px) {
  html {
    font-size: 20px;
  }

  .navigation li {
    margin-right: 1.9em;
  }
}
