<div class="container mt-5">
  <form class="row g-3" [formGroup]="productForm" (ngSubmit)="publishProduct()">
    <h2>Publish your products!</h2>
    <div class="col-md-6">
      <div class="form-group">
        <label for="name">Name:</label>
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            id="name"
            formControlName="name"
            placeholder="Enter product name"
          />
          <div class="input-group-append">
            <span
              class="input-group-text"
              [ngClass]="{
                'text-success': productForm.get('name')?.valid,
                'text-danger': productForm.get('name')?.invalid
              }"
            >
              <i
                class="bi"
                [ngClass]="{
                  'bi-check': productForm.get('name')?.valid,
                  'bi-x': productForm.get('name')?.invalid
                }"
              ></i>
            </span>
          </div>
        </div>
        <ng-container *ngIf="productForm.get('name')?.touched">
          <div
            class="error"
            *ngIf="productForm.get('name')?.errors?.['required']"
          >
            Name is required!
          </div>
          <div
            class="error"
            *ngIf="productForm.get('name')?.errors?.['minlength']"
          >
            Name should be at least 4 characters!
          </div>
        </ng-container>
      </div>

      <div class="form-group">
        <label for="description">Description:</label>
        <div class="input-group">
          <textarea
            class="form-control"
            id="description"
            formControlName="description"
            placeholder="Enter product description"
          ></textarea>
          <div class="input-group-append">
            <span
              class="input-group-text"
              [ngClass]="{
                'text-success': productForm.get('description')?.valid,
                'text-danger': productForm.get('description')?.invalid
              }"
            >
              <i
                class="bi"
                [ngClass]="{
                  'bi-check': productForm.get('description')?.valid,
                  'bi-x': productForm.get('description')?.invalid
                }"
              ></i>
            </span>
          </div>
        </div>
        <ng-container *ngIf="productForm.get('description')?.touched">
          <div
            class="error"
            *ngIf="productForm.get('description')?.errors?.['required']"
          >
            Description is required!
          </div>
          <div
            class="error"
            *ngIf="productForm.get('description')?.errors?.['minlength']"
          >
            Description should be at least 5 characters!
          </div>
        </ng-container>
      </div>

      <div class="form-group">
        <label for="from">From:</label>
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            id="from"
            formControlName="from"
            placeholder="Enter product from"
          />
          <div class="input-group-append">
            <span
              class="input-group-text"
              [ngClass]="{
                'text-success': productForm.get('from')?.valid,
                'text-danger': productForm.get('from')?.invalid
              }"
            >
              <i
                class="bi"
                [ngClass]="{
                  'bi-check': productForm.get('from')?.valid,
                  'bi-x': productForm.get('from')?.invalid
                }"
              ></i>
            </span>
          </div>
        </div>
        <ng-container *ngIf="productForm.get('from')?.touched">
          <div
            class="error"
            *ngIf="productForm.get('from')?.errors?.['required']"
          >
            From is required!
          </div>
          <div
            class="error"
            *ngIf="productForm.get('from')?.errors?.['minlength']"
          >
            From should be at least 4 characters!
          </div>
        </ng-container>
      </div>

      <div class="form-group">
        <label for="price">Price:</label>
        <div class="input-group">
          <span class="input-group-text">$</span>
          <input
            type="number"
            class="form-control"
            id="price"
            formControlName="price"
            placeholder="Enter product price"
          />
        </div>
        <ng-container *ngIf="productForm.get('price')?.touched">
          <div
            class="error"
            *ngIf="productForm.get('price')?.errors?.['required']"
          >
            Price is required!
          </div>
          <div class="error" *ngIf="productForm.get('price')?.errors?.['min']">
            Price should be at least $50!
          </div>
        </ng-container>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <label for="promotion">Promotion:</label>
        <div class="input-group">
          <span class="input-group-text">%</span>
          <input
            type="number"
            class="form-control"
            id="promotion"
            formControlName="promotion"
            placeholder="Enter product promotion"
            [ngClass]="{
              'is-invalid':
                productForm.get('promotion')?.invalid &&
                productForm.get('promotion')?.touched
            }"
          />
          <span class="input-group-text">off</span>
        </div>
        <ng-container *ngIf="productForm?.get('promotion')?.touched">
          <div
            class="invalid-feedback"
            *ngIf="productForm.get('promotion')?.errors?.['min']"
          >
            Promotion should be at least $0.
          </div>
        </ng-container>
      </div>

      <div class="form-group">
        <label for="shipping">Shipping:</label>
        <div class="input-group">
          <span class="input-group-text">$</span>
          <input
            type="number"
            class="form-control"
            id="shipping"
            formControlName="shipping"
            placeholder="Enter product shipping"
          />
        </div>
        <ng-container *ngIf="productForm.get('shipping')?.touched">
          <div
            class="error"
            *ngIf="productForm.get('shipping')?.errors?.['required']"
          >
            Shipping is required!
          </div>
          <div
            class="error"
            *ngIf="productForm.get('shipping')?.errors?.['min']"
          >
            Shipping can not be less than 0$!
          </div>
        </ng-container>
      </div>

      <div class="form-group">
        <label for="type">Type:</label>
        <select
          class="form-select"
          id="type"
          formControlName="type"
          placeholder="Select product type"
        >
          <option value="" disabled selected>Select...</option>
          <option value="Phones">Phones</option>
          <option value="Tablets">Tablets</option>
          <option value="Computers">Computers</option>
          <option value="TVs">TVs</option>
        </select>
        <ng-container *ngIf="productForm.get('type')?.touched">
          <div
            class="error"
            *ngIf="productForm.get('type')?.errors?.['required']"
          >
            Type is required!
          </div>
        </ng-container>
      </div>

      <div class="form-group">
        <label for="validationCustom07">Image:</label>
        <div class="input-group">
          <input
            type="file"
            class="form-control"
            id="validationCustom07"
            aria-label="file example"
            (change)="onFileChange($event)"
          />
          <span
            class="input-group-text"
            [ngClass]="{
              'text-success': productForm.get('img')?.value,
              'text-danger': !productForm.get('img')?.value
            }"
          >
            <i
              class="bi"
              [ngClass]="{
                'bi-check': productForm.get('img')?.value,
                'bi-x': !productForm.get('img')?.value
              }"
            ></i>
          </span>
        </div>
        <ng-container *ngIf="productForm.get('img')?.touched">
          <div
            class="error"
            *ngIf="productForm.get('img')?.errors?.['required']"
          >
            Image is required!
          </div>
        </ng-container>
        <img
          *ngIf="productForm.get('img')?.value"
          [src]="productForm.get('img')?.value"
          alt="Product Image"
          class="img-thumbnail mt-3"
        />
      </div>
    </div>

    <div class="col-12">
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          id="invalidCheck"
          formControlName="agreement"
        />
        <label class="form-check-label" for="invalidCheck"
          >Agree to terms and conditions</label
        >
        <ng-container *ngIf="productForm.get('agreement')?.touched">
          <div
            class="error"
            *ngIf="productForm.get('agreement')?.errors?.['required']"
          >
            You must agree before submitting.
          </div>
        </ng-container>
      </div>
    </div>

    <div class="col-12">
      <button
        class="btn btn-primary"
        type="submit"
        [disabled]="productForm.invalid"
      >
        Publish Product
      </button>
    </div>
  </form>
</div>
