.container {
  max-width: 1140px;
  margin: 0 auto;
  margin-bottom: 2em;
}

.form-group {
  margin-bottom: 2rem;
}

label {
  display: block;
  font-weight: bold;
}

.form-control {
  position: relative;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input-group-text {
  display: flex;
  align-items: center;
}

.input-group-append {
  margin-left: -1px;
}

.invalid-feedback {
  display: block;
  font-size: 80%;
  color: #dc3545;
}

.error {
  color: #dc3545;
  font-size: 80%;
  margin-top: 0.25rem;
}

.img-thumbnail {
  max-width: 200px;
  max-height: 200px;
  margin-top: 10px;
}
